<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p id="id">阿萨空间大哈空间等哈开始接电话卡死的贺卡寄售点卡时间的话框架</p>
</body>
<script>
  $('#id').attr('class','xxxx');
  document.addEventListener('mouseup',function(){
    //document.selection.createRange().text; //IE9以下使用

    //window.getSelection().toString(); //其他浏览器使用
    alert(window.getSelection());
  })

</script>
</html>
